.skill-chip{
    margin-right: 10px;
}
.skill-chip mat-chip{
    cursor: pointer;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

mat-spinner{
    margin: auto;
    display: block;
}


@media screen and (max-width: 425px) {
    .skill-chip mat-chip{
        padding: 3px 5px 3px 8px;
        margin-bottom: 5px;
        font-size: 9px;
    }
}