<mat-spinner *ngIf="!dataReady"></mat-spinner>
<div *ngIf="dataReady">
  <div class="page-container">
    <img 
    id="profileImage" 
    src="{{profile.profileImage}}" 
    alt="{{profile.profileHeadName}}" />
    <br/>
    <br/>
    <h2 class="profile-heading">{{profile?.profileHeadName}}</h2>
    <p class="profile-subtitle">{{profile?.profileCurrentTitle}}</p>
    <p class="profile-subtitle">{{profile?.nationality}} - {{profile?.dateOfBirth | date: 'dd/MM/yyyy'}}</p>
    <p class="profile-subtitle" *ngIf="profile.profileHeadLine.length > 0">{{profile?.profileHeadLine}}</p>
    <div *ngFor="let item of profile.profileSections">
      <hr class="hr-text" title={{item.sectionName}}>
      <div class="profile-section">
        <p [innerHTML]="item?.sectionContent"></p>
      </div>
    </div>
  </div>
</div>

