<mat-spinner *ngIf="!dataReady"></mat-spinner>
<div *ngIf="dataReady">
  <div class="page-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img 
        id="profileImage" 
        src="{{profile.profileImage}}" 
        alt="{{profile.profileHeadName}}" />
      </div>
    </div>
    <br/>
    <br/>
    <h2 class="profile-heading">{{profile?.profileHeadName}}</h2>
    <p class="profile-subtitle">{{profile?.profileCurrentTitle}}</p>
    <p class="profile-subtitle">{{profile?.nationality}} - {{profile?.dateOfBirth | date: 'dd/MM/yyyy'}}</p>
    <p class="profile-subtitle" *ngIf="profile.profileHeadLine.length > 0">{{profile?.profileHeadLine}}</p>
    <div *ngFor="let item of profile.profileSections">
      <hr *ngIf="item.sectionName != ''" class="hr-text" title={{item.sectionName}}>
      <div class="profile-section">
        <p [innerHTML]="item?.sectionContent | safeHtml"></p>
      </div>
    </div>
  </div>
</div>

