.icon-sm{
    margin-right: 5px;
}

i.fab{
    top: -2px;
    position: relative;
}

mat-card-actions a{
    margin-right: 10px;
}

mat-card-content img{
    width: 90%
}

mat-card-content a:hover {
    color: mediumorchid;
}

mat-card-content a {
    color: deeppink;
}

mat-spinner{
    margin: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    mat-card-content div p{
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 425px) {
    mat-card-content img{
        width: 50%;
        display: block;
        margin: auto;
    }
}