<h2>Contact</h2>
<mat-spinner *ngIf="!dataReady"></mat-spinner>
<div *ngIf="dataReady">
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h4><strong>Hazem Gharib</strong></h4>                
                </mat-card-title>
                <mat-card-subtitle><i>Full Stack Developer</i></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="https://www.collectivepoint.com/portals/2/Visual_Studio_2013_Logo_svg.png">
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p>
                            <strong><i class="icon-sm far fa-envelope"></i>E-mail</strong>
                            <br>
                            <a href="mailto:{{contact?.email}}">{{contact?.email}}</a>
                            <br>
                            <strong><i class="icon-sm fas fa-mobile-alt"></i>Mobile Number</strong>
                            <br>
                            <a href="https://web.whatsapp.com/send?phone={{contact?.mobile}}">{{contact?.mobile}}</a>
                            <br>
                            <strong><i class="icon-sm fas fa-home"></i>Current Address</strong>
                            <br>
                            {{contact?.currentAddress?.Line1}}
                            <br>
                            {{contact?.currentAddress?.Line2}}
                            <br>
                            {{contact?.currentAddress?.state}}
                            <br>
                            {{contact?.currentAddress?.country}}
                        </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a mat-fab color="primary" href={{contact?.facebookAccount}}><i class="fab fa-facebook-square fa-2x"></i></a>
                <a mat-fab color="primary" href={{contact?.linkedinAccount}}><i class="fab fa-linkedin fa-2x"></i></a>
                <a mat-fab color="primary" href={{contact?.githubAccount}}><i class="fab fa-github fa-2x"></i></a>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        
    </div>

</div>