i.fas, i.far{
    top: -2px;
    position: relative;
}

.button-icon{
    margin-right: 15px;
}

.add-button{
    margin-bottom: 15px;
    left: 85%;
    position: relative;
}

div div.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
    margin-bottom: 20px;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.empty-list{    
    margin: 20px auto;
    width: fit-content;
    color: darkgrey;
    font-size: 20px;
    font-weight: 900;
    border: solid darkgray 2px;
    padding: 5% 20%;
    border-radius: 65px;
}