<h2>Administration</h2>
<button class="save-button" mat-raised-button color="primary">Save Profile</button>
<div class="line"></div>

<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <h2>Profile</h2>
      <br>
      <app-profile-settings></app-profile-settings>
  </div>
  
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    
  </div> 
  
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <h2>Contact</h2>
    <br>
    <app-contact-settings></app-contact-settings>
  </div>
</div>

<div class="line"></div>

<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <h2>Previous Experience</h2>
      <br>
      <app-experience-settings></app-experience-settings>
  </div>
  
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    
  </div> 
  
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <h2>Skills</h2>
    <br>
    <app-skills-settings></app-skills-settings>
  </div>
</div>