<mat-spinner *ngIf="!dataReady"></mat-spinner>
<div *ngIf="dataReady">
  <div class="row">
    <h5>Profile Image</h5>
    <div class="profile-image">
      <mat-form-field>
        <input matInput placeholder="Profile Image Link" type="text" (change)="onProfileSettingChange()" [(ngModel)]="profile.profileImage"/>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <h5>Profile Sections</h5>
    <div class="add-section">
      <mat-form-field>
        <input matInput placeholder="Section Name" type="text" [(ngModel)]="sectionName"/>
      </mat-form-field>
      <button class="form-buttons add-button" (click)="addSection()" mat-fab mat-raised-button color="accent"><i class="fas fa-plus"></i></button>    
    </div>
    <div class="profile-section" *ngFor="let item of profile.profileSections">
      <mat-form-field class="profile-entry">
        <textarea matInput rows="4" placeholder="{{item.sectionName}}" [(ngModel)]="item.sectionContent" (change)="onProfileSettingChange()"></textarea>
      </mat-form-field>
      <button class="form-buttons remove-button" (click)="removeSection(item)" mat-fab mat-raised-button color="warn"><i class="far fa-trash-alt"></i></button>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <mat-form-field class="profile-entry">
          <input matInput (dateChange)="onProfileSettingChange()" [(ngModel)]="profile.dateOfBirth" [matDatepicker]="dob" placeholder="Date of birth" disabled>
          <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
          <mat-datepicker #dob disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>  
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <mat-form-field class="profile-entry">
          <mat-select [(value)]="profile.nationality" (selectionChange)="onProfileSettingChange()" placeholder="Nationality">
            <mat-option *ngFor="let country of countriesList" [value]="country.nationality">{{country?.nationality}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>  
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <mat-form-field class="profile-entry">
          <mat-select [(value)]="profile.currentLocation" (selectionChange)="onProfileSettingChange()" placeholder="Current Location">
            <mat-option *ngFor="let country of countriesList" [value]="country.name">{{country?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
</div>