.profile-entry, .add-section mat-form-field{
    width: 80%;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: small;
}

mat-spinner{
    margin: auto;
    display: block;
}

.remove-button, .add-button{
    float: right;
}

.profile-section{
    margin-bottom: 20px;
}

.add-section{
    margin-bottom: 45px;
}
