.experience-card mat-card-title.mat-card-title{
    height: 55px;
}

mat-card-content img{
    width: 60%;
    display: block;
    margin: auto auto;
}

mat-card.experience-card.mat-card.work-card{
    height: fit-content;
}

mat-card.experience-card.mat-card.training-card{
    height: fit-content;
}

.col-sm-6.col-md-4.col-lg-4 {
    margin-bottom: 20px;
}

.mat-card-title {
    display: contents;
}

mat-card-content p {
    font-size: 13px;
    margin-top: 15%;
}

mat-spinner{
    margin: auto;
    display: block;
}