<h2>Previous Experience</h2>
<mat-spinner *ngIf="!dataReady"></mat-spinner>
<div *ngIf="dataReady">
    
    <div class="row">
        <p>
            <b>
                <div>Work Experience</div>
            </b>
        </p>
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let item of experience?.workExperience">
            <mat-card class="experience-card work-card">
                <mat-card-header>
                    <mat-card-title>
                        <h4><strong>{{item?.employerName}}</strong></h4>
                    </mat-card-title>
                    <mat-card-subtitle><i>{{item?.role}}</i></mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div>
                        <img mat-card-image [src]="item.employerLogo">
                    </div>
                    <p>
                        <strong>Responsibilities</strong>
                        <br>
                        <span [innerHTML]="item?.responsibilities"></span>
                        <br>
                        <br>
                        <span>{{item?.startDate | date: 'dd/MM/yyyy'}}</span> - <span *ngIf="!item?.isCurrent">{{item?.endDate | date: 'dd/MM/yyyy'}}</span><span *ngIf="item?.isCurrent">Present</span>
                    </p>
                </mat-card-content>
            </mat-card>            
        </div>
    </div>

    <br>
    <br>
    
    <div class="row">
        <p>
            <b>
                <div>Training Experience</div>
            </b>
        </p>

        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let item of experience?.trainingExperience">
            <mat-card class="experience-card training-card">
                <mat-card-header>
                    <mat-card-title>
                        <h4><strong>{{item?.organizationName}}</strong></h4>
                    </mat-card-title>
                    <mat-card-subtitle><i>{{item?.field}}</i></mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div>
                    <img mat-card-image [src]="item.organizationLogo">
                    </div>
                    <p>
                        <span>{{item?.startDate | date: 'dd/MM/yyyy'}}</span> - <span *ngIf="!item?.isCurrent">{{item?.endDate | date: 'dd/MM/yyyy'}}</span><span *ngIf="item?.isCurrent">Present</span>
                    </p>
                </mat-card-content>
            </mat-card>            
        </div>
    </div>
    
</div>