<h2>Previous Experience</h2>
<mat-spinner *ngIf="!dataReady"></mat-spinner>
<div *ngIf="dataReady">
    <p>
            <b>
                <div>Work Experience</div>
            </b>
    </p>
    <ul>
        <li *ngFor="let item of experience?.workExperience">
            Employer: {{item?.employerName}}<br>
            Role: {{item?.role}}<br>
            Responsibilities: {{item?.responsibilities}}<br>
            Current: {{item?.isCurrent}}<br>
            Start Date: {{item?.startDate}}<br> <!-- | date: 'dd/MM/yyyy' -->
            End Date: {{item?.endDate}}<br>
            <br>        
        </li>
    </ul>
    
    <br>
    <br>
    
    <p>
        <b>
            <div>Training Experience</div>
        </b>
    </p>
    <ul>
        <li *ngFor="let item of experience?.trainingExperience">
            Employer: {{item?.organizationName}}<br>
            Role: {{item?.field}}<br>
            Start Date: {{item?.startDate}}<br>
            End Date: {{item?.endDate}}<br>
            <br>        
        </li>
    </ul>
</div>