<div class="row">
  <h5>Email</h5>
  <input type="text" class="form-control">
</div>
<br>
<div class="row">
  <h5>Phone Number</h5>
  <input type="text" class="form-control">
</div>
<br>
<div class="row">
    <h5>Contact Address</h5>
    <textarea class="form-control" rows="3"></textarea>
</div>
<br>
<div class="row">
  <h5>LinkidIn Profile</h5>
  <input type="text" class="form-control">
</div>
<br>
<div class="row">
  <h5>GitHub Account</h5>
  <input type="text" class="form-control">
</div>
<br>
<div class="row">
  <h5>Facebook Account</h5>
  <input type="text" class="form-control">
</div>