<div class="row">
  <h5>Email</h5>
  <mat-form-field class="contact-entry">
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<br>
<div class="row">
  <h5>Phone Number</h5>
  <mat-form-field class="contact-entry">
    <input matInput placeholder="Enter your phone" type="number">
  </mat-form-field>
</div>
<br>
<div class="row">
    <h5>Contact Address</h5>
    <textarea class="form-control" rows="3"></textarea>
</div>
<br>
<div class="row">
  <h5>LinkidIn Profile</h5>
  <mat-form-field class="contact-entry">
    <input matInput placeholder="Enter your LinkidIn profile" type="text">
  </mat-form-field>
</div>
<br>
<div class="row">
  <h5>GitHub Profile</h5>
  <mat-form-field class="contact-entry">
    <input matInput placeholder="Enter your GitHub Profile" type="text">
  </mat-form-field>
</div>
<br>
<div class="row">
  <h5>Facebook Profile</h5>
  <mat-form-field class="contact-entry">
    <input matInput placeholder="Enter your Facebook Profile" type="text">
  </mat-form-field>
</div>