<div class="row">
  
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <mat-form-field class="contact-entry">
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <mat-form-field class="contact-entry">
      <input matInput placeholder="Phone Number" type="number">
    </mat-form-field>
  </div>
 
</div>
<br>
<div class="">
  
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <mat-form-field class="contact-entry">
        <input matInput placeholder="Country" type="text">
      </mat-form-field>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <mat-form-field class="contact-entry">
        <input matInput placeholder="State" type="text">
      </mat-form-field>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <mat-form-field class="contact-entry">
        <input matInput placeholder="Line 1" type="text">
      </mat-form-field>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <mat-form-field class="contact-entry">
        <input matInput placeholder="Line 2" type="text">
      </mat-form-field>
    </div>

  </div>    
</div>
<br>
<div class="">
  <mat-form-field class="contact-entry">
    <input matInput placeholder="LinkidIn profile" type="text">
  </mat-form-field>
</div>
<br>
<div class="">
  <mat-form-field class="contact-entry">
    <input matInput placeholder="GitHub Profile" type="text">
  </mat-form-field>
</div>
<br>
<div class="">
  <mat-form-field class="contact-entry">
    <input matInput placeholder="Facebook Profile" type="text">
  </mat-form-field>
</div>